@import "../../variables.css";
.List_Store {
    height: auto;   
    margin-bottom: 200px;
    & .Title {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        & i {
            line-height: 20px;
            font-size: 1.4rem;
            line-height: 40px;
            margin-right: 10px;
            color: var(--color-main);
            opacity: 0.8;
        }
    }
    & .bodyCountry {
        display: flex;
        border-top: 2px solid rgb(187, 187, 187);
        & .Countrys {
            display: block;
            flex: 1;
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            border-right: 2px solid rgb(187, 187, 187);
            & .StoreTag{
               
              
                list-style: none;
                line-height: 24px;
                text-align: center;
                font-weight: 600;
                font-size: 12px;
                width: 60%;
                border-radius: 3px;
                color: rgb(61, 61, 61);
                &.active{
                       background-color: rgb(85, 97, 116);
                       color: rgb(241, 241, 241);
                }
             
                
            }
        }
        & .Stores {
            flex: 4;
            padding: 20px 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
