.Page.navigation {
  position: absolute;
  top: 0px;
  right: 2.3%;
}
.nav-item button {
  color: #000000;
  font-weight: bold;
  &:hover{
    color: white;
  }
}
.nav {
  padding-left: 40px;
  margin-bottom: -40px;
  margin-top: 20px;
}
.css-wjh20t-MuiPagination-ul{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.body_page {
  margin: 40px auto;
  /* position: absolute; */
  padding: 20px;
  width: 95%;
  height: fit-content;
  max-height: calc(100% - 65px);

  border-radius: 10px;
  background: white;
  overflow-y: scroll;
  & .itemTable {

    height: fit-content;
    width: 100%;
    box-shadow: 0px 5px 10px #8d8d8d;
    & .text_over{
      max-width: 200px;
      min-width: 200px;
      margin-right: -50px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & tr {
      
      line-height: 55px;
    }
    & button {
      font-weight: 600;
      border-width: 2px;
    }
    & tbody {
      & tr {
        opacity: 0.9;
        & td {
          border: 1px solid  rgba(95, 158, 160, 0.514);
          padding:0 10px ;
          
        }
        &:hover{
          background-color: #777777;
          color: white;
    
          & .btn {
            color: white;
          }
          & .status {
            &.status-delivering {   color: rgb(236, 236, 236);}}
        }
        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
      & tr:nth-child(even) td {
        background-color: #abb0bd57;
        box-shadow: 2px 2px 5px rgb(184, 184, 184);
      }
    }
    & .headerTable th {
      border: 1px solid  rgba(95, 158, 160, 0.459);
    
      box-shadow: 0 5px 10px rgb(184, 184, 184);
      background-color: #478554;
      opacity: 0.7;
      color: rgb(236, 236, 236);
      white-space: nowrap;
      padding:0 10px;
      padding-left:20px ;
      &:first-child {
        border-radius: 5px 0 0 0;
      }
      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }

    & .status {
      &.status-delivering {
        color: #688b9b;
      }
    }
  }
}
